@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    border-radius: 0px !important;
    box-shadow: none !important;
  }

  body {
    font-family: 'Poppins', system-ui, sans-serif;
    color: #FFFFFF;
    background-color: #414F6F;
    margin: 0;
  }
}

/*
 * Dynamic utility specificity layer for state classes
 */
.bg-primary { --tw-bg-opacity:1;background-color:rgb(255 196 0/var(--tw-bg-opacity,1)) }
.bg-yellow { --tw-bg-opacity:1;background-color:rgb(255 196 0/var(--tw-bg-opacity,1)) }
.bg-navy { --tw-bg-opacity:1;background-color:rgb(25 34 56/var(--tw-bg-opacity,1)) }
.bg-canvas { --tw-bg-opacity:1;background-color:rgb(65 79 111/var(--tw-bg-opacity,1)) }
.bg-slate { --tw-bg-opacity:1;background-color:rgb(98 110 136/var(--tw-bg-opacity,1)) }
.bg-black { --tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-text-opacity,1)) }
.bg-white\/10 { background-color:rgba(255,255,255,.1) }
.text-black { --tw-text-opacity:1;color:rgb(0 0 0/var(--tw-text-opacity,1)) }
.text-white { --tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity,1)) }
.text-muted { --tw-text-opacity:1;color:rgb(176 183 198/var(--tw-text-opacity,1)) }
.text-yellow { --tw-text-opacity:1;color:rgb(255 196 0/var(--tw-text-opacity,1)) }
.text-green { --tw-text-opacity:1;color:rgb(19 206 116/var(--tw-text-opacity,1)) }
.text-orange { --tw-text-opacity:1;color:rgb(224 75 0/var(--tw-text-opacity,1)) }
.text-blue { --tw-text-opacity:1;color:rgb(55 166 230/var(--tw-text-opacity,1)) }
.hover\:bg-white\/5:hover { background-color:rgba(255,255,255,.05) }
.hover\:bg-white\/8:hover { background-color:rgba(255,255,255,.08) }
.hover\:text-white:hover { --tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity,1)) }
